

.headerA {
    border-radius: 10px;
    position: absolute;
    height: 60px;
    background: #6cf;
    margin: 0.5rem;
    width: 65%;
    padding: 1rem;
    display: block;
    bottom: 0;
  }

.header_container .option {
    text-decoration: none;
    color: dimgray;
    font-weight: bold;
    padding: 1.8rem;
    /* gap: 3em; */
}

.option{
    padding: 10px 15px;
    
}

.bottomTime {
    position: absolute;
    width: 35%;
    right:0;
    bottom: 0;
    text-align: right;
    
    /* padding:1rem; */
}

.bottomWeather {
    position: absolute;
    width: 35%;
    right:0;
    bottom: 0;
    text-align: center;
    /* padding:1rem; */
}

.bottomTime span {
    width: 50%;
    display: inline-block;
    text-align: right;
}



.resizeWindow {
    position: absolute;
    width: 100%;
    /* right:0.5; */
    top:0;
    text-align: center;
    font-size: x-small;

}
/* ------------------------------- */

.dropbtn{
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width:160px;
    bottom: 50px;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #00ff6c;
    transition: height 0ms 0ms, opacity 9000ms 0ms;
}
.dropup-content-off {
    display: none;
    
}



.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropup-content a:hover {
    background-color: #ccc;
}

.dropup:hover .dropup-content{
    display:block;
    
}

.dropup:hover .dropbtn{
    background-color: #2980B9;
}

.hamburgerMenu{
    display: none;
}

/* mobile setting */

@media screen and (max-width: 450px) {
    .headerA {
        height: initial;
        position: absolute;
        width: 100%;
        margin: 0;
        bottom: -1rem;

        transition: opacity 2s linear;  
        transform:translate(0);
        opacity: 1;
      }
    
      .headerA-hide {
        height: initial;
        position: initial;
        width: 100%;
        margin: 0;
        bottom: 0;
        display: none;

        transform:translate(9999px);
        opacity: 0;  
      }
    
      .bottomTime {
        /* display: none; */
        top: 0;
        /* width: 30px; */
        right: 1rem;
        font-size: small;
        position: absolute;
        height: 0;
      }

      .bottomWeather {
          left:-1rem;
          top: 0;
          position: absolute;
          font-size: small;
          height: 0;
      }

      .resizeWindow p {
          margin: 0;
      }

      .option {
        display: block;
        width: 100%;
        text-align: center;
        
      }
      .dropup  {
        text-align: right;
        display: block;
      }
      .dropup .option {
          padding: 0;
      }
      .header_container .option {
          padding: 1rem;
      }
      .dropup-content {
          min-width: 100%;
          position: unset;
      }
      .hamburgerMenu{
          display: block;
          position: fixed;
          right:0.5rem;
          bottom: 0.5rem;

          padding: 5px;
          border-radius: 10px;
          background-color: grey;
          border: none;
          color: white;
          font-size: 1.5rem;
      }
}