.home {
    text-align: center;
}

.home p {
    font-size: 4rem;
    font-weight: bolder;
    font-family:'Indie Flower' ;
}

.home img {
    width:7rem;
    padding-top: 2rem;
}

@media screen and (max-width: 450px) {
    .home p{
        font-size: 3rem;
    }
}