.car_loan input {
    border-radius: 5px;;
}

.blackbox {
    background-color: black;
    width: 100px;
    transition:2s;
    -webkit-transition:5s;
    -moz-transition:5s;
    position:absolute;
    right:calc(100% - 200px);
}

.blackbox:hover{
    right: 0;
}