.page {
  margin: 0 10px;
}

.interactions {
  text-align: center;
}

.table {
  margin: 20px 0;
}

.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}

.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: small;
  cursor: pointer;
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38BB6C;
}

.newsLink{
  color: dimgray;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.8rem;
}

.hackButton {
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid blue;
  color: blue;
  font-size: 1rem;
  justify-content: center;
  margin: 0.5rem;
  
}

@media screen and (max-width: 700px) {
  .newsLink {
    font-size: 1rem;
  }
}