


.App {
  margin: 1rem;
  /* text-align: center; */
  font-family: "Open Sans Condensed";
  font-stretch: extra-expanded;
  font-size: 1.4rem;
}

.calculatorInputs {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.calculatorButtons {
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  background-color: grey;
  border: none;
  color: white;
  font-size: 1.5rem;

}

.calculatorButtons:hover {
  transform: scale(1.2);
}

.moveButton {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid blue;
  color: blue;
  font-size: 1rem;
  justify-content: center;
  margin: 1rem;
}

.moveButton:hover{
  transform: scale(1.2);
  
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* move to passenger property */
.box {
  width: 220px;
  transition:2s;
  -webkit-transition:3s;
  -moz-transition:3s;
  position:absolute;
  right:calc(100% - 15rem);
}


.box2{
  width: 220px;
  transition:2s;
  -webkit-transition:3s;
  -moz-transition:3s;
  position:absolute;
  right: 0;

}
/* move to passenger property */



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* mobile settings */

@media screen and (max-width: 450px) {
  .App {
    margin: 0;
  }
  body {
    background: linear-gradient(to left, #00AAFF, #00FF6C);
  }



}